<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Eduardo</title>
  </head>

  <body>
    <main>
      <h1>Eduardo Uribe</h1>
      <p><i>Software Engineer</i></p>

      <h1 class="sub-title">Products</h1>

      {% block content %}
      <h2 class="sub-title">Publications</h2>
      <ul>
        <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
        {% for page in section.pages %}
        <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% endblock content %}
    </main>
  </body>
</html>
